<a href="https://colab.research.google.com/github/Maurodj78/EntregaFinalCienciaDeDatos-/blob/main/EntregaFinal_MauroAlonzi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
datos_ventas = '/content/drive/MyDrive/Proyecto_Datos/ventas.csv'
df_ventas = pd.read_csv(datos_ventas)
datos_marketing = '/content/drive/MyDrive/Proyecto_Datos/marketing.csv'
df_marketing = pd.read_csv(datos_marketing)
datos_clientes = '/content/drive/MyDrive/Proyecto_Datos/clientes.csv'
df_clientes = pd.read_csv(datos_clientes)
# Muestra las primeras 5 filas del DataFrame
print(df_ventas.head())
# Muestra las primeras 5 filas del DataFrame
print(df_marketing.head())
# Muestra las primeras 5 filas del DataFrame
print(df_clientes.head())
# Muestra información general del DataFrame (columnas, tipos de datos, nulos)
print(df_ventas.info())
# Muestra información general del DataFrame (columnas, tipos de datos, nulos)
print(df_marketing.info())
# Muestra información general del DataFrame (columnas, tipos de datos, nulos)
print(df_clientes.info())


# 1. Contar valores nulos (NaN) en cada DataFrame

print("--- Nulos en df_ventas ---")
# Esto te mostrará una lista de cada columna y cuántos NaN (datos faltantes) tiene
print(df_ventas.isnull().sum())
print("\n") # Imprime un espacio para separar

print("--- Nulos en df_marketing ---")
print(df_marketing.isnull().sum())
print("\n")

print("--- Nulos en df_clientes ---")
print(df_clientes.isnull().sum())


# 2. Convertir tipos de datos

# 2.1. Convertir una columna de fecha (de object a datetime)
# Es crucial para poder analizar ventas por mes, año, etc.
# Reemplaza 'Fecha_Venta' por el nombre real de tu columna de fecha
#print("Cambiando tipo de dato de la fecha en df_ventas...")
#df_ventas['fecha_venta'] = pd.to_datetime(df_ventas['fecha_venta'])

# 2.2. Convertir un ID (de número a string)
# Evita que Python intente hacer cálculos matemáticos con los IDs
#print("Cambiando tipo de dato del ID en df_clientes...")
#df_clientes['ID_Cliente'] = df_clientes['ID_Cliente'].astype(str)

# Verificamos los cambios con .info() nuevamente
print("\n--- Verificación de cambios en df_ventas ---")
print(df_ventas.info())

print("\n--- Verificación de cambios en df_clientes ---")
print(df_clientes.info())

   id_venta           producto   precio  cantidad fecha_venta  \
0       792  Cuadro decorativo   $69.94       5.0  02/01/2024
1       811    Lámpara de mesa  $105.10       5.0  02/01/2024
2      1156           Secadora   $97.96       3.0  02/01/2024
3      1372           Heladera  $114.35       8.0  02/01/2024
4      1546           Secadora  $106.21       4.0  02/01/2024

           categoria
0         Decoración
1         Decoración
2  Electrodomésticos
3  Electrodomésticos
4  Electrodomésticos
   id_campanha         producto  canal  costo fecha_inicio   fecha_fin
0           74  Adorno de pared     TV   4.81   20/03/2024  03/05/2024
1           12           Tablet   RRSS   3.40   26/03/2024  13/05/2024
2           32  Lámpara de mesa  Email   5.54   28/03/2024  20/04/2024
3           21       Smartphone   RRSS   6.37   29/03/2024  16/05/2024
4           58         Alfombra  Email   4.25   31/03/2024  05/05/2024
   id_cliente               nombre  edad         ciudad  ingresos
0           1      Aloysia Screase    44  Mar del Plata  42294.68
1           2  Kristina Scaplehorn    25        Posadas  24735.04
2           3       Filip Castagne    50    Resistencia  35744.85
3           4          Liuka Luard    39   Bahía Blanca  27647.96
4           5        Dore Cockshtt    28        Rosario  28245.65
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3035 entries, 0 to 3034
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_venta     3035 non-null   int64
 1   producto     3035 non-null   object
 2   precio       3033 non-null   object
 3   cantidad     3033 non-null   float64
 4   fecha_venta  3035 non-null   object
 5   categoria    3035 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 142.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_campanha   90 non-null     int64
 1   producto      90 non-null     object
 2   canal         90 non-null     object
 3   costo         90 non-null     float64
 4   fecha_inicio  90 non-null     object
 5   fecha_fin     90 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567 entries, 0 to 566
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_cliente  567 non-null    int64
 1   nombre      567 non-null    object
 2   edad        567 non-null    int64
 3   ciudad      567 non-null    object
 4   ingresos    567 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 22.3+ KB
None
--- Nulos en df_ventas ---
id_venta       0
producto       0
precio         2
cantidad       2
fecha_venta    0
categoria      0
dtype: int64


--- Nulos en df_marketing ---
id_campanha     0
producto        0
canal           0
costo           0
fecha_inicio    0
fecha_fin       0
dtype: int64


--- Nulos en df_clientes ---
id_cliente    0
nombre        0
edad          0
ciudad        0
ingresos      0
dtype: int64

--- Verificación de cambios en df_ventas ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3035 entries, 0 to 3034
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_venta     3035 non-null   int64
 1   producto     3035 non-null   object
 2   precio       3033 non-null   object
 3   cantidad     3033 non-null   float64
 4   fecha_venta  3035 non-null   object
 5   categoria    3035 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 142.4+ KB
None

--- Verificación de cambios en df_clientes ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567 entries, 0 to 566
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_cliente  567 non-null    int64
 1   nombre      567 non-null    object
 2   edad        567 non-null    int64
 3   ciudad      567 non-null    object
 4   ingresos    567 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 22.3+ KB
None